@use '../../styles/main.scss' as *;
@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.ImagesContainer {
  width: 100%;
  overflow-y: auto;
  @include flex-column;
  align-items: center;
  @include custom-scrollbar;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  li {
    @include button-base;
    text-align: center;
    margin: $spacing-sm auto 0;

    img {
      @include bordered;
      max-width: 70%;
      margin: 0 auto;
    }

    &:hover {
      opacity: 0.6;
      @include transition;
    }
  }
}

.url {
  @include text-truncate;
}

.img {
  display: block;
}
