.List {
  color: #d9d9d9;
  padding-inline-start: 0;
  padding: 5px;
  margin: 10px 0px;
  overflow: auto;
  height: fit-content;

  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.List_additional {
  border: 1px solid #ffffff;
}

.item {
  cursor: pointer;
  padding: 3px 6px;
  border: 1px solid #949494;
  background: #222;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  word-wrap: break-word;
  border-radius: 4px;

  &:hover {
    color: #bbb;
  }
}


.error {
  color: #f33535;
}

.warning {
  color: rgb(144, 144, 72);
}

.header {
  margin: 0;
}

.count {
  color: #f33535;


}

.active {
  background-color: #404040;
}