.editorContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.editor {
  width: 100%;
  flex-grow: 1;
}
.buttonContainer {
  display: flex;
}
.selectContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
