@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.container {
  width: 100%;
  display: flex;
  height: 95vh;
  gap: 10px;
}

.editorContainer {
  width: calc(55% - 5px);
}

.frameContainer {
  width: calc(45% - 5px);
  @include flex-column;
  align-items: center;
  gap: 3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
}

/* Анимация смены контента */
@keyframes fade-change {
  0% {
    opacity: 0.6;
    transform: scale(0.95);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Стили для табов */
.tabContainer {
  @include flex-between;
  width: 100%;
  background: #222;
  border-radius: 8px;
  padding: 4px;
  position: relative;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: $light-color;
  background: none;
  border: none;
  @include transition(color);
  position: relative;
  z-index: 2;
}

.tab:hover {
  color: darken($light-color, 20%);
}

/* Активный таб */
.tabActive {
  color: $light-color;
  font-weight: bold;
}

/* Индикатор активного таба */
.tabIndicator {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 2px;
  background: $danger-color;
  border-radius: 4px;
  @include transition(transform);
}

/* Эффект нажатия */
@keyframes tab-press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.tab:active {
  animation: tab-press 0.1s ease-in-out;
}

.CodeEditor {
  @include container-base;
}

.buttonContainer {
  padding: 0px 6px;
  display: flex;
}

.codeTab {
  @include flex-between;
  width: 150px;
  background: #222;
  border-radius: 8px;
  padding: 2px 4px;
  position: relative;

  .tab {
    padding: 4px 8px;
  }
}

.buttonGroup {
  @include flex-center;
  width: 55%;
}

@keyframes fade-change {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.frameContainer>* {
  animation: fade-change 0.1s ease-out;
}

.fontSizeInput {
  width: 60px !important;
  min-width: unset !important;
  padding: $spacing-xs $spacing-sm !important;
  height: 95%;
}