@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.button {
    @include button-base;
    min-width: 130px;
    
    &.primary {
        background-color: $primary-color;
        color: $light-color;
        
        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
    
    &.secondary {
        background-color: $secondary-color;
        color: $light-color;
        
        &:hover {
            background-color: darken($secondary-color, 10%);
        }
    }
    
    &.outline {
        background-color: transparent;
        border: 1px solid currentColor;
        
        &:hover {
            background-color: rgba($dark-color, 0.1);
        }
    }
    
    &.active {
        background-color: lighten($dark-color, 5%);
    }
} 