.Stats {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  

  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ababab57;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #252525df;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
}
.header {
  margin: 0;
}
.half-w{
  width: 50%;
}
.quarterWidth{
width: 20%;
}